<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="classpath:/com/luv2code/spring/xml/sport.properties" />

	<!-- DefaultMessageService class -->
	<bean id="myMessage"
		class="com.luv2code.spring.message.DefaultMessageService"></bean>

	<!-- BaseballCoach class with Parameterized constructor -->
	<bean id="baseballCoach"
		class="com.luv2code.spring.coach.BaseballCoach">
		<constructor-arg ref="myMessage" />
	</bean>

	<!-- TrackCoach class with Parameterized constructor -->
	<bean id="trackCoach" class="com.luv2code.spring.coach.TrackCoach">
		<constructor-arg ref="myMessage" />
	</bean>

	<!-- CricketCoach class with setters -->
	<bean id="cricketCoach"
		class="com.luv2code.spring.coach.CricketCoach">
		<property name="message" ref="myMessage" />
		<property name="email" value="${foo.email}" />
		<property name="team" value="${foo.team}" />
	</bean>


</beans>